.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 615px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  letter-spacing: normal;
  text-transform: none;
  animation-duration: 1500ms;
  width: 489px;
  margin: 103px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 93px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 322px;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-1 .u-icon-1 {
  height: 80px;
  width: 80px;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  text-transform: none;
  font-size: 1.25rem;
  margin: 30px -1px 0;
}

.u-section-1 .u-text-3 {
  margin: 20px -1px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 322px;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-1 .u-icon-2 {
  height: 80px;
  width: 80px;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  text-transform: none;
  font-size: 1.25rem;
  margin: 30px -1px 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  background-image: none;
  text-decoration: underline !important;
  align-self: center;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  background-image: none;
  text-decoration: underline !important;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 322px;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-1 .u-icon-3 {
  height: 80px;
  width: 80px;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  text-transform: none;
  font-size: 1.25rem;
  margin: 30px -1px 0;
}

.u-section-1 .u-text-6 {
  margin: 20px -1px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 266px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 266px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 266px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1153px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 701px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  width: 841px;
  font-weight: 300;
  text-transform: none;
  text-decoration: underline !important;
  animation-duration: 1000ms;
  margin: 60px auto 0;
}

.u-section-2 .u-form-1 {
  height: 489px;
  width: 855px;
  margin: 39px auto 50px;
}

.u-section-2 .u-form-group-1 {
  width: 100%;
}

.u-section-2 .u-label-1 {
  font-weight: 700;
}

.u-section-2 .u-form-group-2 {
  width: 100%;
}

.u-section-2 .u-label-2 {
  font-weight: 700;
}

.u-section-2 .u-form-group-3 {
  margin-left: 0;
}

.u-section-2 .u-label-3 {
  font-weight: 700;
}

.u-section-2 .u-form-group-4 {
  margin-left: 0;
}

.u-section-2 .u-label-4 {
  font-weight: 700;
}

.u-section-2 .u-form-group-5 {
  margin-top: 0;
  margin-bottom: 10px;
}

.u-section-2 .u-label-5 {
  font-weight: 700;
}

.u-section-2 .u-form-group-6 {
  width: 100%;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-2 .u-form-group-3 {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .u-section-2 .u-form-group-4 {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-form-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-2 .u-form-1 {
    width: 340px;
  }

  .u-section-2 .u-form-group-3 {
    width: 100%;
  }

  .u-section-2 .u-form-group-4 {
    width: 100%;
  }

  .u-section-2 .u-form-group-5 {
    width: 100%;
  }
}